<app-dialog [title]="isNew? 'Dodaj pitanje' : 'Uredi pitanje'">
  <div class="add-question-form">
    <form #addquestionForm="ngForm" (ngSubmit)="saveQuestion()">
      <h4>Basic native select</h4>
      <mat-form-field>
        <mat-label>Tip pitanja</mat-label>
        <select matNativeControl (change)="doSomething($event)" name="questionType" [(ngModel)]="question.questionType" required>
          <option value="Da-Ne">Da-Ne</option>
          <option value="Abcd">Abcd</option>
          <option value="Unesi odgovor">Unesi odgovor</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pitanje</mat-label>
        <input matInput name="question" [(ngModel)]="question.text" required>
      </mat-form-field>
      <br>
      <div *ngIf="this.question.questionType === 'Abcd' || this.question.questionType === 'Da-Ne'">
        <div  *ngFor="let answer of question.answers; let i = index">
          <mat-form-field appearance="outline">
            <mat-label>Odgovor {{i+1}}</mat-label>
            <input [disabled]="question.questionType === 'Da-Ne'" matInput [name]="'a'+i" [(ngModel)]="answer.text" required>
          </mat-form-field>
          <mat-slide-toggle name="isCorrect" color="primary" (click)="untoggleAllAnswers(i)"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="answer.isCorrect">
          </mat-slide-toggle>
        </div>
      </div>

      <div *ngIf="this.question.questionType === 'Unesi odgovor'">
        <div  *ngFor="let answer of question.answers; let i = index">
          <mat-form-field appearance="outline">
            <mat-label>Točan odgovor</mat-label>
            <input  matInput [name]="'a'+i" [(ngModel)]="answer.text" required>
          </mat-form-field>
        </div>
      </div>

      <div>
        <app-button *ngIf="this.isNew" text="Dodaj"></app-button>
        <app-button *ngIf="!this.isNew" text="Spremi"></app-button>
        <app-button type="button" (click)="closeDialog()" text="Odustani" buttonStyle="secondary"></app-button>
      </div>
    </form>
  </div>
</app-dialog>