<div class="add-question-form" *ngFor="let question of questions">
    <form  #addquestionForm="ngForm" (ngSubmit)="deleteQuestion(question.text)">
        <mat-form-field appearance="outline">
            <mat-label>Question</mat-label>
            <input  matInput name="question" value={{question.text}}>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Answer 1</mat-label>
            <input matInput name="answer" value={{question.answers[0].text}}>
          </mat-form-field>
          <input type="checkbox" name="isCorrect" value={{question.answers[0].isCorrect}}>Correct Answer
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Answer 2</mat-label>
            <input matInput name="answer" value={{question.answers[1].text}}>
          </mat-form-field>
          <input type="checkbox" name="isCorrect" value={{question.answers[1].isCorrect}}>Correct Answer
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Answer 3</mat-label>
            <input matInput name="answer" value={{question.answers[2].text}}>
          </mat-form-field>
          <input type="checkbox" name="isCorrect" value={{question.answers[2].isCorrect}}>Correct Answer
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Answer 4</mat-label>
            <input matInput name="answer" value={{question.answers[3].text}}>
          </mat-form-field>
          <input type="checkbox" name="isCorrect" value={{question.answers[3].isCorrect}}>Correct Answer
          <br>
          <button mat-raised-button color="primary" type="submit">Delete</button>
          {{question.id}}
    </form>
    
</div>

