<div class="quiz-preview">

    <div class="quizInfo">
        <div class="quizInfoColumn">
          <div class="quizInfoHeader">{{'Ime kviza : ' + quiz.name}}</div>
          <div>{{'Opis kviza : ' + quiz.description}}</div>
          <div>{{'Quiz ID : '+quiz.quizId}}</div>
        </div>
    </div>

    <table mat-table [dataSource]="this.quiz.questionSets" class="mat-elevation-z8">

      <!-- - Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition"
    
      Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Ime seta</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        <td mat-footer-cell *matFooterCellDef> Ukupan broj pitanja </td>
      </ng-container>

      <ng-container matColumnDef="questions">
        <th mat-header-cell *matHeaderCellDef>Broj pitanja</th>
        <td mat-cell *matCellDef="let element"> {{element.questions.length}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
</div>  
