.quizInfo {
    border-bottom: solid 1px black;
    padding: 5px;
}

.quizInfoColumn {
    width: 50%;
    padding: 5px 5px 5px 0;
    display: inline-block;
}
.quizInfoHeader {
    font-size: 40px;
}
.quizInfoDescription {
    font-size: 28px;
    white-space: pre-wrap;
}
.quizSettingsIcon {
    float: right;
}

.setsTable{
    margin: 10px 0;
    font-size: 32px;
}

.quiz-sets{
    padding: 5px;
    margin: 5px;
}

.question-set-name{
    background-color: whitesmoke;
    text-align: center;
}

.question-set{
    border: solid;
}

.question-card{
    margin: 10px 0;
}

.question-text{
    margin: 5px;
    font-size: 22px;
}

.answer{
    margin: 0 10px;
    font-size: 17.5px;
}

.sets-table{
    display: flex;
}

.set-row{
    width: 100%;
    background-color: whitesmoke;
}

.number-of-questions{
    margin-right: auto;
}


tr.mat-mdc-footer-row td {
    font-weight: bold;
  } 

  tr.mat-mdc-footer-row  {
    border-top: solid;
  }