<form>
    <mat-form-field appearance="outline">
        <mat-label>Question</mat-label>
        <input  matInput name="question">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Answer 1</mat-label>
        <input matInput name="answer">
      </mat-form-field>
      <input type="checkbox" name="isCorrect">Correct Answer
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Answer 2</mat-label>
        <input matInput name="answer" >
      </mat-form-field>
      <input type="checkbox" name="isCorrect">Correct Answer
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Answer 3</mat-label>
        <input matInput name="answer" >
      </mat-form-field>
      <input type="checkbox" name="isCorrect">Correct Answer
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Answer 4</mat-label>
        <input matInput name="answer" >
      </mat-form-field>
      <input type="checkbox" name="isCorrect">Correct Answer
      <br>
      <button mat-raised-button color="primary" type="submit">Change</button>
</form>
