
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

$my-custom-level: mat.define-typography-level(
  $font-family: 'Arvo',
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$my-custom-typography: mat.define-typography-config(
  $button:  $my-custom-level,
  $body-1: $my-custom-level,
  $body-2: $my-custom-level,
  $headline-1: $my-custom-level,
  $headline-2: $my-custom-level,
  $headline-3: $my-custom-level,
  $headline-4: $my-custom-level,
  $headline-5: $my-custom-level,
  $headline-6: $my-custom-level,
  $subtitle-1: $my-custom-level,
  $subtitle-2: $my-custom-level,
  $caption: $my-custom-level,
);


@include mat.core();
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$quizzard-primary: mat.define-palette(mat.$indigo-palette);
$quizzard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$quizzard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$quizzard-theme: mat.define-light-theme((
  color: (
    primary: $quizzard-primary,
    accent: $quizzard-accent,
    warn: $quizzard-warn,
  ),
  typography: $my-custom-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($quizzard-theme);

