button{
    color: whitesmoke ;
    background-color: #0a1d36 !important;
    border-style:solid;
    border-width: 2px;
    font-size: 20px;
    padding: 5px 10px;
}

.secondary {
    background-color: transparent !important;
    border: none;
    color: black !important;
}

button:hover {
    color: #f4ce26;
}
