.button{
    color: whitesmoke !important;
    background-color: #0a1d36 !important;
    border-color: #f4ce26 !important;
    border-style:solid ; 
    border-width: 3px;
    font-size: 30px; 
}