<div class="main-frame">

    <div class="top-bar">

        <div class="domain "><a [routerLink]="['/']">PubKviz.HR</a></div>

        <div class="top-bar-link">Otiđi na pubkviz.hr. Šifra kviza je {{quizHostService.groupName}}</div>

    </div>

    <div class="body">

        <div class="active-players">
            <mat-card class="active-players-card">
                <mat-card-title style="text-align: center;">
                    <mat-card>
                        Aktivni igrači
                    </mat-card>
                </mat-card-title>
                <mat-card-content *ngFor="let player of quizHostService.players">
                    <mat-card [ngStyle]="quizHostService.addStyleToActivePlayerCard(player.connectionId)"  style="display: flex" class="active-player-card">
                        <div class="player-name">
                            <strong>{{player.name}}</strong>
                        </div>
                        <div style="position: absolute; right: 10px" class="player-score">
                            <strong>{{player.score}}</strong>
                        </div>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="question">
            <mat-card class="question-card">
                <mat-card-content *ngIf="quizHostService.playersJoining; then startQuizButtonBlock"></mat-card-content>

                <ng-template #startQuizButtonBlock>
                    <div style="text-align: center;">
                        <button (click)="startQuiz()" style="width: 80%;height: 100px;" mat-raised-button>Pokreni Kviz</button>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Broj pitanja</mat-label>
                        <input matInput [(ngModel)]="quizHostService.size" type="number">
                    </mat-form-field>
                </ng-template>

                <mat-card-content *ngIf="quizHostService.quizStarted; then questionBlock"></mat-card-content>

                <ng-template #questionBlock>
                    <div style="text-align: left;">

                        <mat-card>
                            <mat-card class="questionTitleCard">
                                <app-spinner 
                                [time]="quizHostService.currentSpinnerTimeout"
                                [text]="quizHostService.currentSpinnerText"
                                (timeout)="quizHostService.spinnerTimeout()"
                                >
                                </app-spinner>
                                <div class="questionText">
                                    {{quizHostService.currentquestion.text}}
                                </div>
                            </mat-card>
                            <div style="display: flex; flex-wrap: wrap;">
                                <div style="width: 50%;"
                                    *ngFor="let answer of quizHostService.currentquestion.answers; let i = index">
                                    <mat-card
                                        [ngStyle]="{background:quizHostService.checkIfAnswerIsCorrect(quizHostService.currentquestion.id,answer.id)===true && quizHostService.showingCorrectAnswer===true ? 'rgb(153, 211, 153)':'' }">
                                        {{answer.text}}
                                    </mat-card>
                                </div>
                            </div> 
                        </mat-card>
                    </div>
                </ng-template>

                <mat-card-content *ngIf="quizHostService.quizEnded; then startQuizButtonBlock"></mat-card-content>

                <ng-template #scoreBoardBlock>
                    <div style="text-align: center;"> 
                        <button mat-raised-button style="width: 80%;height: 100px;" (click)="quizHostService.startQuiz()">Pokreni novi kviz</button>
                    </div>
                    <!-- <mat-card *ngFor="let player of quizHostService.players">
                        <div>
                            <strong>{{player.name}}</strong>
                        </div>
                        <div style="display: flex;" *ngFor="let submitedAnswer of player.submitedAnswers">
                            <div style="border: solid;">
                                <strong>{{quizHostService.findQuestionTextById(submitedAnswer.questionId)}}</strong>
                            </div>
                            <div [ngStyle]="quizHostService.addStyleToPlayerAnswerOnScoreboard(submitedAnswer.questionId,submitedAnswer.answerId)"
                                style="border: solid;">
                                <strong>{{quizHostService.findAnswerTextById(submitedAnswer.questionId,submitedAnswer.answerId)}}</strong>
                            </div>
                        </div>
                    </mat-card> -->
                </ng-template>

            </mat-card>
        </div>

    </div>

    <!-- <div class="log">
        Activity Log:
        <mat-divider></mat-divider>
        <div *ngFor="let message of quizHostService.signalRService.dataHistory">
            {{message}}
        </div>
    </div>

</div>


<div>
    ConnectionId: {{quizHostService.signalRService.connectionId}}
</div>

<mat-form-field>
    <input matInput name="question" [(ngModel)]="inputData" required>
</mat-form-field>
<button class="general-buttons" color="primary" mat-raised-button (click)="sendDataToGroup()">
    Send data to group
</button> -->