.main-frame{
    border-style:none;
}

.top-bar{
    background: rgba(255, 235, 205, 0.39);
    display: flex;
    box-shadow: 0 1px 8px #888888;
}

.domain{
    text-align:center;
    padding: 10px;
    width: 20%;
    font-size: 50px;
    border-right: solid;
    border-color:  #888888;
}

.top-bar-link{
    padding: 10px;
    width: 80%;
    font-size: 50px;
    text-align:center;
}

.body{
    padding-top: 20px;
    display: flex;
}

.active-players{
    width: 20%;
    padding: 20px;
    overflow: auto;
}

.active-players-card{
    height: 500px;
}

mat-card{
    background: rgba(255, 235, 205, 0.39);
}

.log{
    border: solid;
    height: 200px;
    overflow: auto;
}

.question{
    width: 80%;
    padding: 20px; 
}

.question-card{
    height: 500px;
}

.active-player-card{

}