.main-frame{
    border-style:none;
}

body{
    height: 100%;
}

.top-bar{
    display: flex;
    border-bottom: 4px #f4ce26 solid;
    color:whitesmoke;
    background-color: #0a1d36 ;
}

.domain{
    text-align:center;
    width: 15%;
    font-size: 40px;
    position: relative;
}

.domain-link{
    position: absolute;
    color: whitesmoke;
    top: 50%;
    left: 10px;
    text-decoration: none;
    transform: translateY(-50%);
}

.top-bar-link{
    margin-left:auto;
    margin-right: 10px;
    padding: 10px;
    width: 80%;
    font-size: 40px;
    text-align:right;
}

.groupname-clipboard-button{
    margin: auto;
    border: none;
}

.succesfull-groupname-copy{
    color:  rgb(153, 211, 153);
}

.body{
    display: flex;
    position: absolute;
    top: 84px;
    bottom: 0;
    width: 100%; 
}

.active-players{
    width: 20%;
    min-width: 340px;
    border-right: solid #f4ce26 5px;
    background-color: #0a1d36;
    overflow: auto;
}

.active-players-card{
    font-size: 18px;
    border-bottom: 2px ridge #f4ce26;
    background-color: #0a1d36;
    color: whitesmoke ;
    padding: 10px 5px 10px 10px;
}

.active-player-card{
    display: flex;
    color: whitesmoke;
    border-bottom: 2px ridge #f4ce26;
    border-width: 2px;
    font-size: 18px;
    background-color: #0a1d36;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.player-card-position {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    text-align: left;
    font-size: 16px;
    color: #f4ce26;
    flex-shrink: 0;
    margin: auto;
}

.disconnected-icon {
    color: orangered;
    margin: auto 5px auto 0;
    flex-shrink: 0;
}

.player-name {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    margin: auto;
}

.player-score{
    margin-left: auto;
    color: #f4ce26;
    flex-shrink: 0;
    min-width: 32px;
    text-align: right;
    margin: auto;
    font-size: 22px;
}

.quiz{
    padding: 20px;
    width: 80%;
}

button{
    color: whitesmoke;
    background-color: #0a1d36;
    border-color: #f4ce26 !important;
    border-style:solid ; 
    border-width: 3px;
    font-size: 30px; 
}

.icon-button{
    padding-bottom: 35px;
  }

.active-player-card {
    display: flex;
}
.player-score{
    position: relative;
}
.disconnected{
    opacity: 0.5;
}

mat-card{
    background: rgba(255, 235, 205, 0.39);
}

.log{
    border: solid;
    height: 200px;
    overflow: auto;
}

.question-card{
    height: 500px;
}

.spinner-block{
    width: 106px;
}

.questionTitleCard {
    display: flex;
    margin: 5px;
}

.questionNumber {
    font-size: 18px;
}

.questionText {
    display: inline-block;
    text-align: left;
    font-size: 38px;
    padding: 0;
    padding-right: 30px;
    margin-right: auto;
}

.answer-cards {
    display: flex;
    flex-wrap: wrap;
    /* position: absolute;
    bottom: 0;
    right: 10px;
    width: calc(100vw - 400px); */
}

.answer-card{
    font-size: 28px;
    margin: 5px;
    text-align: left;
    background-color: #0a1d36;
    color: whitesmoke;
}

.answer-letter {
    color: #f4ce26;
}

.correct {
    background-color: rgb(22 107 22)
}
.incorrect {
    background-color: rgb(152 57 57);
}
.answered {
    background-color: rgb(116 98 27);
}

.logoKviz {
    color:#f4ce26;
    display: contents;
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
