.main-frame{
    border-style:none;
    background-color: lig;
    height: 100;
}

body{
    height: 100%;
}

.top-bar{
    display: flex;
    border-bottom-style:solid;
    border-color: #f4ce26;
    color:whitesmoke;
    background-color: #0a1d36 ;
}

.domain{
    text-align:center;
    width: 15%;
    font-size: 40px;
    position: relative;
}

.domain-link{
    position: absolute;
    color: whitesmoke;
    top: 50%;
    left: 10px;
    text-decoration: none;
    transform: translateY(-50%);
}

.top-bar-link{
    margin-left:auto;
    margin-right: 10px;
    padding: 10px;
    width: 80%;
    font-size: 40px;
    text-align:right;
}

.groupname-clipboard-button{
    margin: auto;
    border: none;
}

.succesfull-groupname-copy{
    color:  rgb(153, 211, 153);
}

.body{
    display: flex;
    position: absolute;
    top: 83px;
    bottom: 0;
    width: 100%; 
}

.active-players{
    width: 20%;
    border-right: solid;
    border-color:  #888888;
    background-color: #0a1d36;
    overflow: auto;
}

.active-players-card{
    font-size: 30px;
    border-bottom: 2px ridge #f4ce26;
    background-color: #0a1d36;
    color: whitesmoke ;
    padding: 10px 5px;

}


.active-player-card{
    display: flex;
    color: whitesmoke;
    border-bottom: 2px ridge #f4ce26;
    border-width: 2px;
    font-size: 30px;
    background-color: #0a1d36;
    padding: 10px 5px;

}

.player-name{
    margin-left: 10px;
}

.player-score{
    margin-left: auto;
    margin-right: 10px;
}

.score-value{
    color: #f4ce26;
}

.quiz{
    padding: 20px;
    width: 80%;
}
button{
    color: whitesmoke;
    background-color: #0a1d36;
    border-color: #f4ce26 !important;
    border-style:solid ; 
    border-width: 3px;
    font-size: 30px; 
}

.active-player-card {
    display: flex;
}
.player-score{
    position: relative;
}

mat-card{
    background: rgba(255, 235, 205, 0.39);
}

.log{
    border: solid;
    height: 200px;
    overflow: auto;
}

.question-card{
    height: 500px;
}

.spinner-block{
    width: 106px;
}

.questionTitleCard {
    display: flex;
    margin: 5px;
}

.questionText {
    display: inline-block;
    text-align: center;
    font-size: 32px;
    margin: auto !important;
    padding: 15px;
}

.answer-card{
    margin: 5px;
    text-align: center;
}

.correct {
    background-color: rgb(153, 211, 153);
}
.incorrect {
    background-color: rgb(230, 88, 88);
}
.answered {
    background-color: rgb(250, 224, 118);
}

.logoKviz {
    color:#f4ce26;
    display: contents;
}