<h1>O nama</h1>
<div>
  <p>Mi smo kvizaši. Tv-kviz Potjera za nas je prava sitnica.
  </p>
  <p>Mi smo strastveni zaljubljenici u kvizove i vjerujemo da učenje može biti izuzetno zabavno i inspirativno iskustvo.
    Naša misija je pružiti vam nevjerojatnu platformu za istraživanje znanja, testiranje pameti i, naravno, dobro se
    zabaviti.</p>
  <p>Hvala vam što ste s nama i što dijelite ljubav prema kvizovima. Zajedno gradimo putovanje znanja, smijeha i
    zajedništva. Spremni ste za sljedeći izazov?</p>
  <p><a href="mailto:nikolapivcevic@yahoo.com">Pošalji nam e-mail i uključi se i ti!</a></p>
</div>