<div class="contact">
  <h1>O nama</h1>
  <p>Baza je sudjelovat na pub kvizovima. Druženje, zabava, nešto se i nauči. Ne želimo to promijenit. Ovo je "passion"
  projekt u kojemu želimo istražiti može li i koliko digitalizacija doprinijeti pub kviz sceni. Ne znamo točno gdje
  idemo s ovim projektom, ali kao i na kvizu, zabavljamo se i učimo nešto novo.</p>
  <p>Imate prijedlog ili kritiku, rado ćemo je pročitat!</p>

  <p>
    Mail: <a href="mailto:pubkviz.dev@gmail.com">pubkviz.dev&#64;gmail.com</a>
  </p>
</div>