<div class="content" *ngIf="this.quiz">
<div>
  {{'Quiz ID : '+quiz.quizId}}
  <br>
  {{'Ime kviza : ' + quiz.name}}
  <br>
  {{'Opis kviza : ' + quiz.description}}
</div>
<button mat-stroked-button (click)="openPutQuizDialog()">Promijeni</button>

<mat-divider></mat-divider>

<button mat-stroked-button (click)="openPostQuestionSetDialog()">Novi Set</button>

<mat-divider></mat-divider>

<mat-accordion *ngFor="let item of quiz.questionSets; index as i">
  <mat-expansion-panel (opened)="panelOpenState = true" 
                      (closed)="panelOpenState = false"
                      [expanded]="true"
                      class="quiz-exp-panel">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>{{questionSetOrder(item.questionSetId)+1+'.'}} {{item.name}}</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-questions [questionSet]="item" 
                   [quiz]="quiz"
                   [questionSetId]="item.questionSetId" 
                   [quizId]="quiz.quizId"></app-questions>
    <mat-action-row>
      <button mat-icon-button
              (click)="openPutQuestionSetDialog(item)">
        <mat-icon class="icon-button" >edit</mat-icon>
      </button>
      <button mat-icon-button
              (click)="deleteQuestionSet(item.questionSetId)">
        <mat-icon class="icon-button" >delete</mat-icon>
      </button>
      <button *ngIf="i!==quiz.questionSets.length-1"
              mat-icon-button
              (click)="moveQuestionSetDown(item,i)"
              >
        <mat-icon class="icon-button">arrow_downward</mat-icon>
      </button>
      <button [hidden]="i===0"  
              mat-icon-button
              (click)="moveQuestionSetUp(item)"
              >
        <mat-icon class="icon-button" >arrow_upward</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
</div>
