<div class="content">
<div>{{'Quiz ID : '+quiz.quizId}}</div>
<div>{{'Ime kviza : ' + quiz.name}}</div>
<div>{{'Opis kviza : ' + quiz.description}}</div>
<button mat-stroked-button (click)="openPutQuizDialog()">Promijeni</button>

<mat-divider></mat-divider>

<button mat-stroked-button (click)="openPostQuestionSetDialog()">Novi Set</button>

<mat-divider></mat-divider>

<mat-accordion *ngFor="let item of quiz.questionSets">
  <mat-expansion-panel (opened)="panelOpenState = true" 
                      (closed)="panelOpenState = false"
                      [expanded]="true">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>{{item.order+1+'.'}} {{item.name}}</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-questions [questionSet]="item" 
                   [quiz]="quiz"
                   [questionSetId]="item.questionSetId" 
                   [quizId]="quiz.quizId"></app-questions>
    <mat-action-row>
      <button mat-icon-button
              (click)="deleteQuestionSet(item.questionSetId)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
</div>
