<div>{{'Quiz ID : '+quizId}}</div>
    <div class="name-description">
        <div class="name">
            <mat-form-field appearance="fill">
                <mat-label>Ime kviza</mat-label>
                <input type="text" matInput [(ngModel)]="name">
            </mat-form-field>
        </div>
        <div class="description">
            <mat-form-field appearance="fill">
                <mat-label>Opis kviza</mat-label>
                <textarea type="text" matInput [(ngModel)]="description">
                </textarea>
            </mat-form-field>
        </div>
</div>
<mat-divider></mat-divider>

<div class="style">
<div cdkDropListGroup>
    <div class="example-container-quiz">
    <div class="question-sets-list">
      Setovi pitanja
    </div>
    <div>
      <span>
          <button class="new-set-button" mat-stroked-button
                  (click)="openPostQuestionSetDialog()">Novi Set</button>
      </span>
    </div>
      <div
        cdkDropList
        [cdkDropListData]="questionSets"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" 
              
             *ngFor="let questionSet of questionSets" 
             cdkDrag>
              {{questionSet.name}}
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span>Prikaži</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Promijeni</span>
                </button>
                <button mat-menu-item
                        (click)="deleteQuestionSet(questionSet.questionSetId)">
                  <mat-icon>delete</mat-icon>
                  <span>Izbriši</span>
                </button>
              </mat-menu>
            </div>
      </div>
    </div>

    <div class="example-container-quiz">
        <div class="question-sets-list">
          {{name}}
        </div>
    
        <div
          cdkDropList
          [cdkDropListData]="questionSetsForQuiz"
          class="example-list-quiz"
          (cdkDropListDropped)="drop($event)">
          <div mat-stroked-button
                  class="example-box" 
                  *ngFor="let questionSet of questionSetsForQuiz" 
                  cdkDrag>
                    {{questionSet.name}}
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item
                              (click)="getQuestionSetPreview(questionSet.questionSetId)">
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>Prikaži</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Promijeni</span>
                      </button>
                      <button mat-menu-item
                              (click)="deleteQuestionSet(questionSet.questionSetId)">
                        <mat-icon>delete</mat-icon>
                        <span>Izbriši</span>
                      </button>
                    </mat-menu>
                  </div>
        </div>
      </div>
</div>
<div class="set-preview">
  <h1>Set preview</h1>
</div>
</div>