.name-description{
    width: 100%;
}

.name{
    width: 20%;
}

.description{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

button{
    width: 100%;
    color: whitesmoke;
    background-color: #0a1d36;
    border-color: #f4ce26 !important;
    border-style:solid ; 
    border-width: 3px;
    font-size: 30px; 
}

.question-sets-list{
    font-size: 18px;
    border-bottom: 2px ridge #f4ce26;
    background-color: #0a1d36;
    color: whitesmoke ;
    padding: 10px 5px 10px 10px;
    font-size: 30px; 
    text-align: center;
}



.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .example-container-quiz {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .example-list-quiz {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;

  }
  
  .example-box {
    padding: 20px 10px;
    cursor: move;
    color: whitesmoke;
    border-bottom: 2px ridge #f4ce26;
    border-width: 2px;
    font-size: 18px;
    background-color: #0a1d36;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }