<div class="qustion-grid">
  <div class="general-buttons-card" align="start">
    <app-button text="Dodaj pitanje" (click)="openPostDialog()"></app-button>
    <app-button text="Dodaj pitanje iz baze" (click)="openQuestionLibraryDialog()"></app-button>
    <!-- <button class="general-buttons" mat-raised-button (click)="openQuestionLibraryDialog()">
      Dodaj pitanje iz baze
    </button> -->
  </div>
  <br>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let question of questions; let i = index" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <strong>{{question.text}}</strong>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="answers">
          <div *ngFor="let answer of question.answers let i = index">
            <mat-card [ngStyle]="{background:answer.isCorrect===true ? 'rgb(153, 211, 153)' : '' }">
              {{i+1+"."}}{{question.answers[i].text}}
            </mat-card>
          </div>
        </div>
        <mat-action-row>
          <button  mat-icon-button (click)="openPutDialog(question)">
            <mat-icon class="icon-button">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteQuestionFromSet(question,i)">
            <mat-icon class="icon-button">delete</mat-icon>
          </button>
          <button mat-icon-button (click)="listOfSetNamesExeptThisOne()" [matMenuTriggerFor]="menu">
            <mat-icon class="icon-button">drive_file_move_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <span>Premjesti u:</span>
            <div *ngFor="let set of questionSetList; let i = index">
              <button class="menu-item" mat-menu-item (click)="moveQuestionToAnotherSet(question, set.questionSetId)">
                {{set.name}}
              </button>
            </div>
          </mat-menu>

        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </div>
</div>
