<div class="qustion-grid">
  <div class="general-buttons-card">
    <app-button text="Dodaj pitanje" (click)="openPostDialog()"></app-button>
    <app-button text="Dodaj pitanje iz baze" (click)="openQuestionLibraryDialog()"></app-button>
    <!-- <button class="general-buttons" mat-raised-button (click)="openQuestionLibraryDialog()">
      Dodaj pitanje iz baze
    </button> -->
  </div>
  <br>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let question of questions; let i = index" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <strong>{{i+1}}. ({{question.questionType}}) {{question.text}}</strong>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="answers">
          <div *ngFor="let answer of question.answers let i = index">
            <mat-card class="answerCard" [ngStyle]="{background:answer.isCorrect===true ? 'rgb(153, 211, 153)' : '' }">
              {{question.answers[i].text}}
            </mat-card>
          </div>
        </div>
        <mat-action-row>
          <app-button-icon icon="edit" (click)="openPutDialog(question)"></app-button-icon>
          <app-button-icon icon="delete" (click)="deleteQuestionFromSet(question,i)"></app-button-icon>
          <app-button-icon icon="drive_file_move_outline" (click)="listOfSetNamesExeptThisOne()" [matMenuTriggerFor]="menu"></app-button-icon>

          <mat-menu #menu="matMenu">
            <span>Premjesti u:</span>
            <div *ngFor="let set of questionSetList; let i = index">
              <button class="menu-item" mat-menu-item (click)="moveQuestionToAnotherSet(question, set.questionSetId)">
                {{set.name}}
              </button>
            </div>
          </mat-menu>

        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </div>
</div>
