<div class="qustion-grid">
  <mat-card class="general-buttons-card" align="start">
    <button class="general-buttons" color="primary" mat-raised-button (click)="openPostDialog()">Add Question
      No.{{questions.length+1}}</button>
  </mat-card>
  <br>
  <div *ngFor="let question of questions; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
  
        <mat-panel-description>
          <strong>{{question.text}}</strong>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="answers">
        <div *ngFor="let answer of question.answers let i = index">
          <mat-card [ngStyle]="{background:answer.isCorrect===true ? 'rgb(153, 211, 153)' : 'rgb(236, 157, 157)' }">
            {{question.answers[i].text}}
          </mat-card>
        </div>
      </div>
      <mat-action-row>
        <button mat-icon-button color="primary" (click)="openPutDialog(question)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteQuestion(question.id,i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>
