<div class="body">
    <form (ngSubmit)="addQuestion()">

        <mat-form-field appearance="outline">
            <mat-label>Question</mat-label>
            <input matInput type="text" name="question" [(ngModel)]="question.text">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label for="answer1">Answer1</mat-label>
            <input matInput type="text" name="text" id="answer1" [(ngModel)]="question.answers[0].text">
        </mat-form-field>
        <input  type="checkbox" name="isCorrect" id="checkbox1" [(ngModel)]="question.answers[0].isCorrect">
        <br>
            <mat-form-field appearance="outline">
            <mat-label for="answer2">Answer2</mat-label>
            <input matInput type="text" name="text" id="answer2" [(ngModel)]="question.answers[1].text">
            </mat-form-field>
            <input type="checkbox" name="isCorrect" id="checkbox2" [(ngModel)]="question.answers[1].isCorrect">

        <br>
            <mat-form-field appearance="outline">
            <mat-label for="answer3">Answer3</mat-label>
            <input matInput type="text" name="text" id="answer3" [(ngModel)]="question.answers[2].text">
            </mat-form-field>
            <input type="checkbox" name="isCorrect" id="checkbox3" [(ngModel)]="question.answers[2].isCorrect">

        <br>
            <mat-form-field appearance="outline">
            <mat-label for="answer4">Answer4</mat-label>
            <input matInput type="text" name="text" id="answer4" [(ngModel)]="question.answers[3].text">
        </mat-form-field>
        <input type="checkbox" name="isCorrect" id="checkbox4" [(ngModel)]="question.answers[3].isCorrect">

        <br> 

            <button type="submit" mat-raised-button>Add Question</button>

    </form>
</div>


<div>
</div>
