<div class="content" [hidden]="quizCreatorMode">
<div>
    <button mat-raised-button 
            (click)="openPostQuizDialog()"
            >Dodaj kviz</button>
</div>

<table mat-table [dataSource]="dataSource"
       multiTemplateDataRows 
       class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th  mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Ime kviza </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="numberOfQuestions">
      <th mat-header-cell *matHeaderCellDef> Broj Pitanja </th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfQuestions}} </td>
    </ng-container>

   


    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
        </td>
    </ng-container>

       <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          {{element.description}}
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
        <button mat-icon-button 
                (click)="deleteQuiz(element.quizId)">
            <mat-icon>
                delete
            </mat-icon>
        </button>
        <button mat-icon-button
                (click)="editQuiz(element)">
          <mat-icon>
            edit
          </mat-icon>
        </button>
        <!-- <a class="nav-link text-light" [routerLink]="['/quizzes', element.quizId]">
      edit
      </a> -->

    </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
    
    >
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

<!-- <app-quiz-creator [name]="name" 
                  [description]="description" 
                  [quizId]="quizId"
                  [hidden]="!quizCreatorMode">
</app-quiz-creator> -->
