.top-bar{
    background: rgba(255, 235, 205, 0.39);
    display: flex;
    box-shadow: 0 1px 8px #888888;
}
.top-bar-link{
    padding: 10px;
    width: 80%;
    font-size: 50px;
    text-align:center;
}

.domain{
    text-align:center;
    padding: 10px;
    width: 100%;
    font-size: 50px;
    border: solid;
    border-color:  #888888;
}

.main-frame{
    border-style:none;
    height: calc(100vh - 61px - 1rem);
    max-height: calc(100vh - 61px - 1rem);
    width: 100%;
    max-width: 450px;
    margin: auto;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.log{
    border: solid;
    height: 200px;
    overflow: auto;
}

.question{
    width: 80%;
    padding: 20px; 
}

.question-card{
    height: 500px;
}

.join-group-button{
    width: 100%;
}

input::placeholder{
    text-align: center;
    color: #0a1d36;
    font-family: 'Arvo';
    text-transform: none;
}

.questionTitleCard {
    display: flex;
    overflow-y: auto;
}

.questionText {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin: auto !important;
    padding: 15px;
}

.correct {
    background-color: rgb(22 107 22) !important;
}
.incorrect {
    background-color: rgb(152 57 57) !important;
}
.answered {
    background-color: rgb(116 98 27) !important;
}

.player-spinner {
    margin: 0 auto;
    text-align: center;
}

.answerList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: auto;
}

.answer-wrapper {
    width: 50%;
    padding: 5px;
}

.answer-button {
    justify-content: left;
    width: 100%;
    min-height: 80px;
    background-color: #0a1d36;
    color: whitesmoke !important;
    text-align: left;
    font-size: 15px;
    white-space: normal;
}

.answer-letter {
    display: contents;
    color: #f4ce26;
}

.setDelay_pauseText {
    font-size: 45px;
    margin: 120px 0 50px 0;
}
