<div class="container">
    <div class="row border">
        <div class="d-flex justify-content-center">
            <h1>Quiz Name</h1>
        </div>
    </div>
    <div class="row border">
        <div class="d-flex justify-content-center">
            <h1>Question?</h1>
        </div>
    </div>
<div class="cont">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary">Answer 1</button>
        </div>
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary">Asnwer 2</button>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary">Asnwer 3</button>
        </div>
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary">Asnwer 4</button>
        </div>
    </div>
</div>
</div>