.spinner {
    font-family: 'Arvo';
    width: 100px;
    display: inline-block;
    text-align: center;
    min-height: 175px;
}

.spinner.large {
    width: 180px;
}

.mat-spinner.large {
    width: 180px !important;
    height: 180px !important;
}

.spinner::ng-deep circle {
    stroke: rgb(22 107 22);
}

.timeLeft {
    font-family: 'Arvo';
    position:relative;
    top: -65px;
    left: 0px;
    font-size: 22px;
}

.large .timeLeft {
    top: -120px;
    font-size: 42px;
}

.spinner-text {
    font-family: 'Arvo';
    margin-top: -24px;
}

.large .spinner-text {
    margin-top: -50px;
}

.mat-progress-bar {
    text-align: left;
    background-color: lightgreen;
}
.mat-progress-bar::ng-deep .mdc-linear-progress__bar-inner {
    border-color: rgb(22 107 22) !important;
}
